VITE_SUPABASE_URL=https://yfartrnzihbevgxqmidi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmYXJ0cm56aWhiZXZneHFtaWRpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTIyMDgyNSwiZXhwIjoyMTA2Nzk2ODI1fQ.59ceWVpNKBceH93q9vtT5nY92LJ_ZqOqbps1siC0y5o